:root {
  --level: 1;
  --freq1: 1;
  --freq2: 1;
  --freq3: 1;
  --freq4: 1;
  --freq5: 1;
  --freq6: 1;
  --freq7: 1;
  --freq8: 1;
  --freq9: 1; }

#ohOne {
  margin: 0px;
  padding: 0px; }
  #ohOne #screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black; }
    #ohOne #screen section {
      width: 90vw;
      margin: 0px auto;
      transform: translateY(50vh); }
      #ohOne #screen section div:nth-of-type(0) {
        transform: translateX(-11px) translateY(0px) rotate(0deg); }
        #ohOne #screen section div:nth-of-type(0) i {
          background-color: rgba(214, 92, 92, 0.8);
          border: 1px solid rgba(214, 92, 92, 0.9);
          animation: ohThreeLine 1.6s linear 0ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(1) {
        transform: translateX(-11px) translateY(-22px) rotate(22.5deg); }
        #ohOne #screen section div:nth-of-type(1) i {
          background-color: rgba(214, 184, 92, 0.8);
          border: 1px solid rgba(214, 184, 92, 0.9);
          animation: ohThreeLine 1.6s linear 200ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(2) {
        transform: translateX(-11px) translateY(-44px) rotate(45deg); }
        #ohOne #screen section div:nth-of-type(2) i {
          background-color: rgba(153, 214, 92, 0.8);
          border: 1px solid rgba(153, 214, 92, 0.9);
          animation: ohThreeLine 1.6s linear 400ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(3) {
        transform: translateX(-11px) translateY(-66px) rotate(67.5deg); }
        #ohOne #screen section div:nth-of-type(3) i {
          background-color: rgba(92, 214, 122, 0.8);
          border: 1px solid rgba(92, 214, 122, 0.9);
          animation: ohThreeLine 1.6s linear 600ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(4) {
        transform: translateX(-11px) translateY(-88px) rotate(90deg); }
        #ohOne #screen section div:nth-of-type(4) i {
          background-color: rgba(92, 214, 214, 0.8);
          border: 1px solid rgba(92, 214, 214, 0.9);
          animation: ohThreeLine 1.6s linear 800ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(5) {
        transform: translateX(-11px) translateY(-110px) rotate(112.5deg); }
        #ohOne #screen section div:nth-of-type(5) i {
          background-color: rgba(92, 122, 214, 0.8);
          border: 1px solid rgba(92, 122, 214, 0.9);
          animation: ohThreeLine 1.6s linear 1000ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(6) {
        transform: translateX(-11px) translateY(-132px) rotate(135deg); }
        #ohOne #screen section div:nth-of-type(6) i {
          background-color: rgba(153, 92, 214, 0.8);
          border: 1px solid rgba(153, 92, 214, 0.9);
          animation: ohThreeLine 1.6s linear 1200ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(7) {
        transform: translateX(-11px) translateY(-154px) rotate(157.5deg); }
        #ohOne #screen section div:nth-of-type(7) i {
          background-color: rgba(214, 92, 184, 0.8);
          border: 1px solid rgba(214, 92, 184, 0.9);
          animation: ohThreeLine 1.6s linear 1400ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(8) {
        transform: translateX(-11px) translateY(-176px) rotate(180deg); }
        #ohOne #screen section div:nth-of-type(8) i {
          background-color: rgba(214, 92, 92, 0.8);
          border: 1px solid rgba(214, 92, 92, 0.9);
          animation: ohThreeLine 1.6s linear 1600ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(9) {
        transform: translateX(-11px) translateY(-198px) rotate(202.5deg); }
        #ohOne #screen section div:nth-of-type(9) i {
          background-color: rgba(214, 184, 92, 0.8);
          border: 1px solid rgba(214, 184, 92, 0.9);
          animation: ohThreeLine 1.6s linear 1800ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(10) {
        transform: translateX(-11px) translateY(-220px) rotate(225deg); }
        #ohOne #screen section div:nth-of-type(10) i {
          background-color: rgba(153, 214, 92, 0.8);
          border: 1px solid rgba(153, 214, 92, 0.9);
          animation: ohThreeLine 1.6s linear 2000ms alternate infinite; }
      #ohOne #screen section div:nth-of-type(11) {
        transform: translateX(-11px) translateY(-242px) rotate(247.5deg); }
        #ohOne #screen section div:nth-of-type(11) i {
          background-color: rgba(92, 214, 122, 0.8);
          border: 1px solid rgba(92, 214, 122, 0.9);
          animation: ohThreeLine 1.6s linear 2200ms alternate infinite; }
      #ohOne #screen section i {
        display: inline-block;
        width: calc(var(--level)*20px);
        height: calc(var(--level)*20px);
        border-radius: 50%; }

@keyframes ohThreeLine {
  0% {
    transform: translateX(0vw); }
  100% {
    transform: translateX(80vw); } }
#ohTwo {
  margin: 0px;
  padding: 0px; }
  #ohTwo #screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black; }
    #ohTwo #screen section {
      height: 30vh;
      width: 100vw;
      position: absolute;
      left: 0px;
      bottom: 0px; }
      #ohTwo #screen section div {
        height: 30vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        border-bottom: 2px solid hsla(calc(10*var(--midFreqTwo)), 60%, 60%, 0.7); }
        #ohTwo #screen section div span {
          display: block;
          width: calc(10vw*var(--lowFreqOne));
          height: 20vh;
          border-radius: 7vw 7vw 0 0;
          background-color: rgba(214, 92, 214, 0.7);
          border: 2px solid black;
          border-bottom-width: 0px; }
          #ohTwo #screen section div span:nth-of-type(1) {
            display: block;
            width: calc(30vw*var(--lowFreqOne));
            height: calc(20vh*var(--lowFreqThree));
            border-radius: calc(20vw*var(--lowFreqThree)) calc(20vw*var(--lowFreqOne)) 0 0;
            background-color: hsla(calc(10*var(--lowFreqTwo)), 60%, 60%, 0.7); }
          #ohTwo #screen section div span:nth-of-type(2) {
            display: block;
            width: calc(30vw*var(--midFreqOne));
            height: calc(20vh*var(--midFreqThree));
            border-radius: calc(20vw*var(--midFreqThree)) calc(20vw*var(--midFreqOne)) 0 0;
            background-color: hsla(calc(10*var(--midFreqTwo)), 60%, 60%, 0.7); }
          #ohTwo #screen section div span:nth-of-type(3) {
            display: block;
            width: calc(30vw*var(--highFreqOne));
            height: calc(20vh*var(--highFreqThree));
            border-radius: calc(20vw*var(--highFreqThree)) calc(20vw*var(--highFreqOne)) 0 0;
            background-color: hsla(calc(10*var(--highFreqTwo)), 60%, 60%, 0.7); }

@keyframes ohTwoRise {
  0% {
    transform: translateY(0vh); }
  100% {
    transform: translateY(-100vh); } }
#ohFour {
  margin: 0px;
  padding: 0px; }
  #ohFour #screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black; }
    #ohFour #screen section {
      margin: 0px;
      position: absolute;
      top: 50%;
      left: 50%; }
      #ohFour #screen section i {
        display: inline-block;
        border-radius: 50%;
        background-blend-mode: color; }
      #ohFour #screen section:nth-of-type(1) {
        width: 8vw;
        margin-left: -4vw; }
        #ohFour #screen section:nth-of-type(1) i {
          width: calc(5vw*var(--freq1));
          height: calc(5vw*var(--freq1));
          background-color: rgba(214, 173, 92, 0.7);
          border: 1px solid rgba(214, 173, 92, 0.9); }
      #ohFour #screen section:nth-of-type(2) {
        width: 16vw;
        margin-left: -8vw; }
        #ohFour #screen section:nth-of-type(2) i {
          width: calc(10vw*var(--freq2));
          height: calc(10vw*var(--freq2));
          background-color: rgba(173, 214, 92, 0.7);
          border: 1px solid rgba(173, 214, 92, 0.9); }
      #ohFour #screen section:nth-of-type(3) {
        width: 24vw;
        margin-left: -12vw; }
        #ohFour #screen section:nth-of-type(3) i {
          width: calc(15vw*var(--freq3));
          height: calc(15vw*var(--freq3));
          background-color: rgba(92, 214, 92, 0.7);
          border: 1px solid rgba(92, 214, 92, 0.9); }
      #ohFour #screen section:nth-of-type(4) {
        width: 32vw;
        margin-left: -16vw; }
        #ohFour #screen section:nth-of-type(4) i {
          width: calc(20vw*var(--freq4));
          height: calc(20vw*var(--freq4));
          background-color: rgba(92, 214, 173, 0.7);
          border: 1px solid rgba(92, 214, 173, 0.9); }
      #ohFour #screen section:nth-of-type(5) {
        width: 40vw;
        margin-left: -20vw; }
        #ohFour #screen section:nth-of-type(5) i {
          width: calc(25vw*var(--freq5));
          height: calc(25vw*var(--freq5));
          background-color: rgba(92, 173, 214, 0.7);
          border: 1px solid rgba(92, 173, 214, 0.9); }
      #ohFour #screen section:nth-of-type(6) {
        width: 48vw;
        margin-left: -24vw; }
        #ohFour #screen section:nth-of-type(6) i {
          width: calc(30vw*var(--freq6));
          height: calc(30vw*var(--freq6));
          background-color: rgba(92, 92, 214, 0.7);
          border: 1px solid rgba(92, 92, 214, 0.9); }
      #ohFour #screen section:nth-of-type(7) {
        width: 56vw;
        margin-left: -28vw; }
        #ohFour #screen section:nth-of-type(7) i {
          width: calc(35vw*var(--freq7));
          height: calc(35vw*var(--freq7));
          background-color: rgba(173, 92, 214, 0.7);
          border: 1px solid rgba(173, 92, 214, 0.9); }
      #ohFour #screen section:nth-of-type(8) {
        width: 64vw;
        margin-left: -32vw; }
        #ohFour #screen section:nth-of-type(8) i {
          width: calc(40vw*var(--freq8));
          height: calc(40vw*var(--freq8));
          background-color: rgba(214, 92, 173, 0.7);
          border: 1px solid rgba(214, 92, 173, 0.9); }
      #ohFour #screen section:nth-of-type(9) {
        width: 72vw;
        margin-left: -36vw; }
        #ohFour #screen section:nth-of-type(9) i {
          width: calc(45vw*var(--freq9));
          height: calc(45vw*var(--freq9));
          background-color: rgba(214, 92, 92, 0.7);
          border: 1px solid rgba(214, 92, 92, 0.9); }
      #ohFour #screen section div {
        height: 4vw; }
        #ohFour #screen section div:nth-of-type(1) {
          transform: translateY(-4vw) rotate(30deg); }
        #ohFour #screen section div:nth-of-type(2) {
          transform: translateY(-8vw) rotate(60deg); }
        #ohFour #screen section div:nth-of-type(3) {
          transform: translateY(-12vw) rotate(90deg); }
        #ohFour #screen section div:nth-of-type(4) {
          transform: translateY(-16vw) rotate(120deg); }
        #ohFour #screen section div:nth-of-type(5) {
          transform: translateY(-20vw) rotate(150deg); }
        #ohFour #screen section div:nth-of-type(6) {
          transform: translateY(-24vw) rotate(180deg); }
        #ohFour #screen section div:nth-of-type(7) {
          transform: translateY(-28vw) rotate(210deg); }
        #ohFour #screen section div:nth-of-type(8) {
          transform: translateY(-32vw) rotate(240deg); }
        #ohFour #screen section div:nth-of-type(9) {
          transform: translateY(-36vw) rotate(270deg); }
        #ohFour #screen section div:nth-of-type(10) {
          transform: translateY(-40vw) rotate(300deg); }
        #ohFour #screen section div:nth-of-type(11) {
          transform: translateY(-44vw) rotate(330deg); }
        #ohFour #screen section div:nth-of-type(12) {
          transform: translateY(-48vw) rotate(360deg); }

#ohFour #screen section:nth-of-type(1) {
  mix-blend-mode: screen; }

#ohFour #screen section:nth-of-type(2) {
  mix-blend-mode: luminosity; }

#ohFour #screen section:nth-of-type(3) {
  mix-blend-mode: difference; }

#ohFour #screen section:nth-of-type(4) {
  mix-blend-mode: color-burn; }

#ohFour #screen section:nth-of-type(5) {
  mix-blend-mode: hard-light; }

#ohFour #screen section:nth-of-type(6) {
  mix-blend-mode: difference; }

#ohFour #screen section:nth-of-type(7) {
  mix-blend-mode: hue; }

#ohFour #screen section:nth-of-type(8) {
  mix-blend-mode: hard-light; }

#ohFour #screen section:nth-of-type(9) {
  mix-blend-mode: luminosity; }

/*# sourceMappingURL=style.css.map */
