:root {
  --level: 1;

  --freq1: 1;
  --freq2: 1;
  --freq3: 1;

  --freq4: 1;
  --freq5: 1;
  --freq6: 1;

  --freq7: 1;
  --freq8: 1;
  --freq9: 1;
}

#ohOne {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
    section {
      width: 50vw;
      transform: translate(15vw, 20vh);
      &:nth-of-type(2) {transform: translate(55vw, 25vh)}
      &:nth-of-type(3) {transform: translate(0vw, 30vh)}
      &:nth-of-type(4) {transform: translate(40vw, 35vh)}
      &:nth-of-type(5) {transform: translate(15vw, 40vh)}
      &:nth-of-type(6) {transform: translate(55vw, 45vh)}
      &:nth-of-type(7) {transform: translate(0vw, 50vh)}
      &:nth-of-type(8) {transform: translate(40vw, 55vh)}
      div {
        height:8px;
        opacity: calc(0.2*var(--level));
        @for $i from 0 through 11 {
          &:nth-of-type(#{$i}) {
            transform: translateY($i*-10px) rotate($i*22.5deg);
            i {
              background-color:hsla($i*45, 60%, 60%, 0.8);
              border:1px solid hsla($i*45, 60%, 60%, 0.9);
              animation: ohThreeLine 1.6s linear #{$i*200}ms alternate infinite;
            }
          }
        }//for
      }
      i {
        display: inline-block;
        width:10px;
        height:10px;
        border-radius: 50%;
      }//i
    }//section
  }
}

@keyframes ohThreeLine {
  0% {transform: translateX(0vw);}
  100% {transform: translateX(50vw);}
}

#ohTwo {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
    section {
      height: 30vh; width:100vw;
      position:absolute; left:0px; bottom:0px;
      div {
        height:30vh; width:100vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        border-bottom:2px solid hsla(
            calc(10*var(--midFreqTwo)),
            60%,
            60%,
            0.7)
          ;
      // animation: ohTwoRise 4s linear;
      span {
        display: block;
        width: calc(10vw*var(--lowFreqOne)); height: 20vh;
        border-radius: 7vw 7vw 0 0;
        background-color:hsla(300, 60%, 60%, 0.7);
        border:2px solid black;
        border-bottom-width: 0px;

        &:nth-of-type(1) {
          display: block;
          width: calc(30vw*var(--lowFreqOne));
          height: calc(20vh*var(--lowFreqThree));;
          border-radius: calc(20vw*var(--lowFreqThree)) calc(20vw*var(--lowFreqOne)) 0 0;
          background-color:hsla(
            calc(10*var(--lowFreqTwo)),
            60%,
            60%,
            0.7)
          ;
        }

        &:nth-of-type(2) {
          display: block;
          width: calc(30vw*var(--midFreqOne));
          height: calc(20vh*var(--midFreqThree));;
          border-radius: calc(20vw*var(--midFreqThree)) calc(20vw*var(--midFreqOne)) 0 0;
          background-color:hsla(
            calc(10*var(--midFreqTwo)),
            60%,
            60%,
            0.7)
          ;
        }

        &:nth-of-type(3) {
          display: block;
          width: calc(30vw*var(--highFreqOne));
          height: calc(20vh*var(--highFreqThree));;
          border-radius: calc(20vw*var(--highFreqThree)) calc(20vw*var(--highFreqOne)) 0 0;
          background-color:hsla(
            calc(10*var(--highFreqTwo)),
            60%,
            60%,
            0.7)
          ;
        }//nth
      }//span
      }//div
    }//section
  }
}
@keyframes ohTwoRise {
  0% {transform: translateY(0vh);}
  100% {transform: translateY(-100vh);}
}



#ohFour {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;

    section {
      margin:0px;
      position: absolute; top:50%; left:50%;
      will-change: mix-blend-mode;
      i {
        display: inline-block;
        border-radius: 50%;
        will-change: width, height;
      }
      @for $j from 1 through 9 {
        &:nth-of-type(#{$j}) {
          width:$j*8vw; margin-left:$j*-4vw;

          i {
            width:calc(#{$j*5}vw*var(--freq#{$j}));
            height:calc(#{$j*5}vw*var(--freq#{$j}));
            background-color:hsla($j*40, 60%, 60%, 0.7);
            border:1px solid hsla($j*40, 60%, 60%, 0.9);
          }

        }
      }//for
    
      div {
        height:4vw;
        @for $i from 1 through 12 {
          &:nth-of-type(#{$i}) {
            transform: translateY($i*-4vw) rotate($i*30deg);
          }
        }//for
      }

    }//section
  }
}
@keyframes ohFourRotate {
  0% {}
}
@each $num, $blendMode in 
  ( 1:screen, 2:luminosity, 3:difference, 4:color-burn, 5:hard-light, 6:difference, 7:hue, 8:hard-light, 9:luminosity ) {
  #ohFour #screen section:nth-of-type(#{$num}) {
    mix-blend-mode: $blendMode;
  }
}

#ohFive {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
  }
  #screen section div {
    height:20px;
    opacity: var(--level);
    @for $i from 1 through 8 {
      &:nth-of-type(#{$i}) {
        width:50px*$i;
        background-color:hsla(30*$i,60%,60%,0.7);
        border:1px solid hsla(30*$i,60%,60%,0.9);
        animation: moveDivs #{$i*400}ms linear #{$i*200}ms alternate infinite;
      }
    }
  }
}

#ohSix {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
  }
  #screen section div {
    height:20px;
    @for $i from 1 through 8 {
      &:nth-of-type(#{$i}) {
        width:calc(300px*var(--freq#{$i}) );
        background-color:hsla((30*$i)+90,60%,60%,0.7);
        border:1px solid hsla((30*$i)+90,60%,60%,0.9);
        animation: moveDivs #{$i*400}ms linear #{$i*200}ms alternate infinite;
      }
    }
  }
}
@keyframes moveDivs {
  0% {transform: translateY(0vh);}
  100% {transform: translateY(50vh);}
}

#ohGif {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
  }
  #screen section {
    overflow: hidden;
    img {
      height: 50vh; width:auto;
    }
  }
}
@keyframes moveDivs {
  0% {transform: translateY(0vh);}
  100% {transform: translateY(50vh);}
}
