:root {
  --level: 1;

  --freq1: 1;
  --freq2: 1;
  --freq3: 1;

  --freq4: 1;
  --freq5: 1;
  --freq6: 1;

  --freq7: 1;
  --freq8: 1;
  --freq9: 1;
}

#ohTwo {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
    section {
      height:100vh;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      span {
        display: block;
        width: calc(10vw*var(--lowFreqOne)); height: 20vh;
        border-radius: 7vw 7vw 0 0;
        background-color:hsla(300, 60%, 60%, 0.7);
        border:2vw solid hsla(300, 60%, 60%, 0.9);
        border-bottom-width: 0px;

        &:nth-of-type(1) {
          display: block;
          width: calc(10vw*var(--lowFreqOne));
          height: calc(20vh*var(--lowFreqThree));;
          border-radius: calc(7vw*var(--lowFreqThree)) calc(7vw*var(--lowFreqOne)) 0 0;
          background-color:hsla(
            calc(10*var(--lowFreqTwo)),
            60%,
            60%,
            0.7)
          ;
          border:2vw solid hsla(300, 60%, 60%, 0.9);
          border-bottom-width: 0px;
        }
      }
    }
  }
}

#ohThree {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;
    section {
      width: 50vw; margin:0px auto;
      transform: translateY(50vh);
      div {
        @for $i from 0 through 11 {
          &:nth-of-type(#{$i}) {
            transform: translateY($i*-4vw) rotate($i*30deg);
            i {
              animation: ohThreeLine 1s linear #{$i/4}s alternate infinite;
            }
          }
        }//for
      }
      i {
        display: inline-block;
        width:calc(4vw*var(--level));
        height:calc(4vw*var(--level));
        border-radius: 50%;
        background-color:hsla(300, 60%, 60%, 0.7);
        border:1vw solid hsla(300, 60%, 60%, 0.8);
        
        
      }//i
    }//section
  }
}

@keyframes ohThreeLine {
  0% {transform: translateX(0vw);}
  100% {transform: translateX(30vw);}
}

#ohFour {
  margin:0px; padding:0px;
  #screen {
    position: relative;
    width:100vw; height:100vh;
    background-color: black;

    section {
      margin:0px;
      position: absolute; top:50%; left:50%;
      i {
        display: inline-block;
        border-radius: 50%;
        background-blend-mode: color;
      }
      @for $j from 1 through 9 {
        &:nth-of-type(#{$j}) {
          width:$j*8vw; margin-left:$j*-4vw;

          i {
            width:calc(#{$j*5}vw*var(--freq#{$j}));
            height:calc(#{$j*5}vw*var(--freq#{$j}));
            background-color:hsla($j*40, 60%, 60%, 0.7);
            border:1px solid hsla($j*40, 60%, 60%, 0.9);
          }

        }
      }//for
    
      div {
        height:4vw;
        @for $i from 1 through 12 {
          &:nth-of-type(#{$i}) {
            transform: translateY($i*-4vw) rotate($i*30deg);
          }
        }//for
      }

    }//section
  }
}
@keyframes ohFourRotate {
  0% {}
}
@each $num, $blendMode in 
  ( 1:screen, 2:luminosity, 3:difference, 4:color-burn, 5:hard-light, 6:difference, 7:hue, 8:hard-light, 9:luminosity ) {
  #ohFour #screen section:nth-of-type(#{$num}) {
    mix-blend-mode: $blendMode;
  }
}
